@font-face {
    font-family: 'sickass';
    src: url('../fonts/KiottoDemo-pgo11.otf') format("otf");
    /* Comment noises */
}

body {
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
    font-size: 1.6rem;
    font-family: 'sickass', sans-serif;
}