@font-face {
    font-family: 'sickass';
    src: url('../fonts/KiottoDemo-pgo11.otf');
    /* Comment noises */
}

body {
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
    font-size: 2rem;
    font-family: 'sickass', sans-serif;
    display: center;
}

.container {
  text-align: center;
  border: 1px solid black;
  padding: 20px;
}