/* ======== @ Rules ======== */
@font-face {
font-family: "Determination Mono";
src: url('../fonts/DTM-Mono.otf')  format('truetype');
}

@font-face {
font-family: "Determination Sans";
src: url('../fonts/DTM-Sans.otf')  format('truetype');
}

/* ======== Type Selectors ======== */
body {
    font-family: 'Determination Sans', sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    font-size: 2.6rem;
    text-shadow: 0.6px 0.6px 14px white;
}

p {
    font-size: 2rem;
    margin-right: 30px;
    margin-left: 30px;
}

/* ======== Class Selectors ======== */
/* Currently unused. */

/* ======== Animations ======== */
/* Currently unused. */

/* ======== ID Selector ======== */
/* Currently unused. */
