/* ======== @ Rules ======== */
@font-face {
    font-family: 'AveriaLibre';
    src: url('../fonts/AveriaLibre-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KiottoDemo';
    src: url('../fonts/KiottoDemo-pgo11.otf');
    font-weight: normal;
    font-style: normal;
}

/* ======== Type Selectors ======== */
body {
    background-color: black;
    color: white;
    font-family: 'AveriaLibre', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-family: 'AveriaLibre', sans-serif;
    text-align: center;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
    font-size: 2rem;
    font-family: 'KiottoDemo', sans-serif;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* ======== Class Selectors ======== */
.glow {
    text-shadow: 0.4px 0.4px 14px white;
}

.container {
  text-align: center;
  border: 1px solid black;
  padding: 20px;
}

.links {
    color: yellow;
    text-shadow: 3px 3px 6px yellow;
    transition: color 0.2s, text-shadow 0.2s;
}

.links:hover {
    color: white;
    text-shadow: 3px 3px 6px white;
}

/* ======== Music Player ======== */
.mus-player {
    text-align: center;
    color: white;
    font-family: 'AveriaLibre', sans-serif;
}

.mus-player-ui {
    border: 2px solid yellow;
    padding: 20px;
    margin-bottom: 20px;
}

.mus-player-controls button {
    background: none;
    border: 1px solid yellow;
    color: yellow;
    font-size: 1.2rem;
    margin: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.mus-player-controls button:hover {
    background: yellow;
    color: black;
}

.playlist ul {
    list-style: none;
    padding: 0;
}

.playlist li {
    padding: 8px;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 1.2rem;
}

.playlist li:hover {
    color: yellow;
}

.progress-container input[type=range] {
    width: 80%;
}